kfc-workflow/serverless.yml
org: ${file(../serverless.vars.yml):org}
service: kfc-workflow

provider:
  name: aws
  runtime: python3.12
  region: us-east-1
  iam:
    role: arn:aws:iam::${file(../serverless.vars.yml):accountId}:role/${file(../serverless.vars.yml):labRole}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:Query
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:${file(../serverless.vars.yml):accountId}:table/${cf:pedidos-api-${opt:stage, 'dev'}.PedidosTableName}
    - Effect: Allow
      Action:
        - events:PutEvents
      Resource:
        - arn:aws:events:${self:provider.region}:${file(../serverless.vars.yml):accountId}:event-bus/${self:provider.environment.EVENT_BUS}
    - Effect: Allow
      Action:
        - states:StartExecution
      Resource:
        - arn:aws:states:${self:provider.region}:${file(../serverless.vars.yml):accountId}:stateMachine:*
    - Effect: Allow
      Action:
        - logs:CreateLogGroup
        - logs:CreateLogStream
        - logs:PutLogEvents
      Resource:
        - arn:aws:logs:${self:provider.region}:${file(../serverless.vars.yml):accountId}:*
  environment:
    TABLE_NAME: ${cf:pedidos-api-${opt:stage, 'dev'}.PedidosTableName}
    EVENT_BUS: orders-bus

functions:
  pagos:
    handler: lambdas/1_pagos.lambda_handler
    name: kfc-workflow-pagos
    description: Procesa pago simulado (automated)

stepFunctions:
  stateMachines:
    KfcOrderFlow:
      name: KfcOrderWorkflow
      role: arn:aws:iam::${file(../serverless.vars.yml):accountId}:role/${file(../serverless.vars.yml):labRole}
      definition:
        Comment: "Workflow KFC: Payment Processing Only (Kitchen/Packing/Delivery handled by employee frontend)"
        StartAt: Procesar Pago
        States:
          Procesar Pago:
            Type: Task
            Resource:
              Fn::GetAtt: [PagosLambdaFunction, Arn]
            Next: Verificar Pago
            Retry:
              - ErrorEquals: ["States.TaskFailed"]
                IntervalSeconds: 2
                MaxAttempts: 2

          Verificar Pago:
            Type: Choice
            Choices:
              - Variable: "$.status"
                StringEquals: "PAID"
                Next: Esperar Cocina
            Default: Pago Fallido

          Pago Fallido:
            Type: Fail
            Error: PaymentError
            Cause: "El pago no fue autorizado."

          Esperar Cocina:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem.waitForTaskToken
            Parameters:
              TableName: ${self:provider.environment.TABLE_NAME}
              Key:
                id:
                  S.$: "$.id"
              UpdateExpression: "SET kitchenToken = :token, #s = :status"
              ExpressionAttributeNames:
                "#s": "status"
              ExpressionAttributeValues:
                ":token":
                  S.$: "$$.Task.Token"
                ":status":
                  S: "IN_KITCHEN"
            Next: Esperar Empaquetado

          Esperar Empaquetado:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem.waitForTaskToken
            Parameters:
              TableName: ${self:provider.environment.TABLE_NAME}
              Key:
                id:
                  S.$: "$.id"
              UpdateExpression: "SET packingToken = :token"
              ExpressionAttributeValues:
                ":token":
                  S.$: "$$.Task.Token"
            Next: Esperar Reparto

          Esperar Reparto:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem.waitForTaskToken
            Parameters:
              TableName: ${self:provider.environment.TABLE_NAME}
              Key:
                id:
                  S.$: "$.id"
              UpdateExpression: "SET deliveryToken = :token"
              ExpressionAttributeValues:
                ":token":
                  S.$: "$$.Task.Token"
            Next: Esperar Entrega Final

          Esperar Entrega Final:
            Type: Task
            Resource: arn:aws:states:::dynamodb:updateItem.waitForTaskToken
            Parameters:
              TableName: ${self:provider.environment.TABLE_NAME}
              Key:
                id:
                  S.$: "$.id"
              UpdateExpression: "SET finalDeliveryToken = :token"
              ExpressionAttributeValues:
                ":token":
                  S.$: "$$.Task.Token"
            Next: Fin

          Fin:
            Type: Succeed

plugins:
  - serverless-step-functions

# Testing
resources:
  Resources:
    # No EventBus resource needed - using pre-existing orders-bus created previously
    # If it doesn't exist, create it manually: aws events create-event-bus --name orders-bus --region us-east-1

  Outputs:
    KfcOrderFlowArn:
      Description: "ARN of the Step Functions state machine for KfcOrderFlow"
      Value: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:KfcOrderWorkflow"
      Export:
        Name: "KfcOrderFlowArn-${opt:stage, 'dev'}"
    OrdersEventBusName:
      Description: "EventBridge bus name"
      Value: orders-bus
      Export:
        Name: "OrdersEventBusName-${opt:stage, 'dev'}"